@import 'bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

.product-img {
    object-fit:cover;
    height: 30vh;
    width: 100%;
}

.productDetail-img {
    object-fit:cover;
    height:650px;
    width: 100%;
}

.small-img{
    object-fit:cover;
    height:200px;
}

body {
    background-color: #8eaf9d;
}

.cartPage {
    background-color:rgba(130, 168, 147, 0.5);
    tr {
        th {
        background-color:rgba(99, 145, 120);
        padding:20px 0px;
        }
        td {
        background-color:rgba(130, 168, 147,0);
        padding-top:20px;
        }
    }
}

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
.searchStyle{
    transition: 0.5s;
    outline: none;
    border: 3px solid #ccc;
    &:focus {
        border: 3px solid #555;
      }
}

.isOpacity {
    transition: 0.5s;
    opacity: 0;
}

.unOpacity{
    opacity: 1;
}