@import 'bootstrap/scss/bootstrap.scss';

.product-img {
    object-fit:cover;
    height: 12vw;
    width: 100%;
}

.productDetail-img {
    object-fit:cover;
    height:650px;
    width: 100%;
}

.small-img{
    object-fit:cover;
    height:200px;
}